asn1crypto==0.23.0
beautifulsoup4==4.6.0
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
cryptography==2.1.4
cycler==0.10.0
Django==2.2.24
idna==2.6
Markdown==2.6.9
markdown2==2.3.4
matplotlib==2.1.1
numpy==1.13.3
oauthlib==2.0.6
pandas==0.21.1
pycparser==2.18
Pygments==2.2.0
PyMySQL==0.8.0
pyOpenSSL==17.5.0
pyparsing==2.2.0
PySocks==1.6.7
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
requests-oauthlib==0.8.0
scipy==1.0.0
six==1.11.0
tornado==4.5.2
tweepy==3.5.0
urllib3==1.22
